header{
    background-color: var(--color-grey-5);
}

.header__div{
    margin-right: 16px;
    margin-left: 16px;    
    padding-top: 28px;
    padding-bottom: 28px;
}

.header__title{
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.headerTitle__h1{
    color: var(--color-grey-1);
}

.headerTitle__h1-blue{
    color: var(--color-brand-1);
} 

.header__button{
    display: flex;
    width: 100%;    
    margin-top: 0px;
    padding-top: 7.5008px;    
    padding-bottom: 7.5008px;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-1);    
    cursor: pointer;
    background-color: var(--color-brand-1);
    border: none;
    color: var(--fixed-white);
    transition-duration: 0.4s;
}

.header__button:hover{
    background-color: var(--color-brand-2);
}

@media screen and (min-width: 700px){
    .header__div{
        display: flex;
        justify-content: space-between;
       padding-top: 36.5008px;
       padding-bottom: 40.5008px;
        margin-right: 20%;
        margin-left: 20%;        
    }

    .header__title{
        margin-bottom: 0;
        padding-top: 7.5008px;    
        padding-bottom: 7.5008px;
        padding-left: 0px;    
        padding-right: 14px;
    }    

    .header__button{
        display: flex;
        width: fit-content;    
        margin-top: 0;
        padding-top: 7.5008px;    
        padding-bottom: 7.5008px;
        padding-left: 14px;    
        padding-right: 14px;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-1);    
        cursor: pointer;
        background-color: var(--color-brand-1);
        border: none;
        color: var(--fixed-white);
        transition-duration: 0.4s;    
    }          
}